<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body class="main">
    <nav>
        <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/">Water</a></li>
            <li><a href="/chart">Statistic</a></li>
        </ul>
    </nav>
    <main>
        {% if get_flashed_messages() %}
		<div class="flash">
			{{ get_flashed_messages() | join(" ") }}
		</div>
		{% endif %}
        {% block main %} {% endblock %}
    </main>
</body>
</html>
